* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.calendar-layout {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: solid 0.5px lightgrey;
}

.heading-strip-container {
  display: grid;
  grid-column: 2/9;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  /* align-items: center; */
  /* border-top: solid 0.5px lightgrey; */
  border-bottom: solid 0.5px lightgrey;
  border-right: solid 0.5px lightgrey;
  border-left: solid 0.5px lightgrey;
}

.hour-strip {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  padding-top: 1rem;
  border-right: solid 0.5px lightgrey;
  border-top: solid 0.5px lightgrey;
}

.hour-strip-element {
  /* padding: 1rem; */
  border-bottom: solid 0.5px lightgrey;
  border-left: solid 0.5px lightgrey;
  height: 60px;
}

.heading-item {
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 1rem; */
  padding-top: 1rem;
  text-align: center;
  border-right: solid 0.5px lightgrey;
  /* border-bottom: solid 0.5px lightgrey; */
  /* border-top: solid 0.5px lightgrey; */
}

.week-day-item {
  display: grid;
  grid-column: 2/9;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

.week-day-hour-item {
  border-bottom: solid 0.5px lightgrey;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.cal-full-day-event {
  background-color: blue;
  color: white;
  margin-bottom: 0.5px;
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.cal-full-day-event:hover {
  background-color: rgb(0, 0, 255);
  color: white;
}

.cal-hour-event {
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5px;
}

.cal-hour-event:hover {
  cursor: pointer;
}
