body {
  font-family: sans-serif;
}
.container {
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-columns: 4rem repeat(7, 1fr);
  grid-template-rows: repeat(26, 60px);
}

.month-container {
  display: grid;
  grid-template-columns: 4rem repeat(7, 1fr);
}

/* .week-strip-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  border: solid 0.5px gray;
  grid-column: 2 / 9;
  text-align: center;
} */

.tool-bar {
  grid-column: 1/9;
  border: solid 0.5px gray;
}

.hour-strip-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(24, 60px); */
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 3/27;
  text-align: center;
  margin-top: 40px;
}

.calendar-elements-container {
  grid-column: 2 / 9;
  grid-row: 2/28;
}

.week-heading {
  border-right: solid 0.5px gray;
}

.hour-heading {
  min-height: 60px;
  border-bottom: solid 1px lightgrey;
  color: #0908097d;
}

.hour-strip-container > span:first-child {
  border-top: solid 1px lightgrey;
}

.calendar-elements-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-left: solid 0.5px lightgrey;
}

.calendar-months-container {
  grid-column: 2 / 9;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: solid 0.5px lightgrey;
}

.day-heading {
  font-size: medium;
  height: 100px;
  text-align: center;
  font-weight: bolder;
  display: block;
  border-bottom: solid 0.5px lightgrey;
  border-right: solid 0.5px lightgrey;
  color: #0908097d;
}

.month-view-day-heading {
  font-size: medium;
  height: 150px;
  text-align: center;
  font-weight: bolder;
  display: block;
  border-bottom: solid 0.5px lightgrey;
  border-right: solid 0.5px lightgrey;
  color: #0908097d;
  padding-top: 0.5rem;
}

.today {
  color: green;
}

.full-day-event {
  font-size: 0.7rem;
  color: #005ce6;
  cursor: pointer;
}

.full-day-event:hover {
  background-color: aliceblue;
}

.hour-item {
  min-height: 60px;
  border-bottom: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
}

.previous-icon,
.next-icon,
.add-new-event {
  padding: 0.5rem;
  font-size: 32px;
}

.current-year {
  grid-column: 4/5;
  font-weight: bolder;
}

.select-month {
  grid-column: 5/6;
}

.select-view {
  grid-column: 6/7;
  text-align: center;
}

/* .previous-icon {
  grid-column: 6/7;
  text-align: center;
  cursor: pointer;
} */

.prev-next-icons {
  grid-column: 7/8;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.add-new-event {
  grid-column: 8/9;
}

.previous-icon:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.next-icon:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.decrement-icon,
.increment-icon {
  cursor: pointer;
}

.decrement-icon:hover,
.increment-icon:hover {
  cursor: pointer;
  fill: blue;
}

.add-new-event:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.toolbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tool-bar-container {
  grid-column: 1/9;
  width: 100%;
  border-bottom: solid 0.5px lightgrey;
}

/* .events-container {
  display: block;
} */

.event {
  display: block;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 1px;
  text-align: center;
  background-color: #005ce6;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  border: none;
}

.event-modal {
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  max-height: 100%;
  width: 40%;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.event-modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.5px gainsboro;
  text-align: center;
  gap: 2rem;
}

.event-modal-header-heading {
}

.event-modal-header-close-icon {
  text-align: right;
  width: 24px;
  border-radius: 20px;
  padding: 1rem;
}
.event-modal-header-close-icon:hover {
  color: red;
  background-color: #f0808042;
  cursor: pointer;
}

.event-modal-content {
  display: grid;
  grid-template-columns: 28px 1fr;
  justify-content: flex-start;
  align-items: center;
}

.event-modal-description {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  height: 5rem;
}

.event-modal-confirmed {
  color: green;
  font-weight: bolder;
}

.event-modal-guests-invited {
  color: blue;
}

.event-modal-guests-invited:hover {
  cursor: pointer;
}

.month-super-script {
  font-size: 0.8rem;
}

.month-range {
  font-weight: bolder;
  font-size: 1.2rem;
  color: #0908097d;
}

.closed {
  display: none;
}

.opened {
  display: block;
}

.edit-event-modal {
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  max-height: 100%;
  width: 40%;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-event-modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
}

.edit-event-modal-content {
}
.edit-event-modal-footer {
}

.edit-event-modal-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.edit-event-modal-header-close-icon {
  padding: 1rem;
  width: 24px;
  height: 24px;
  grid-column: 4/5;
  border-radius: 50%;
}

.edit-event-modal-header-close-icon:hover {
  background-color: #ff000030;
  color: red;
  cursor: pointer;
}

.edit-event-modal-footer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.add-event-modal {
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  max-height: 100%;
  width: 40%;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-event-modal .add-event-modal-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  direction: rtl;
  justify-content: flex-end;
  align-items: center;
  border-bottom: solid 0.5px gainsboro;
  margin-bottom: 1rem;
}

.add-event-modal-content {
}

/* .content-items {
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-content: center;
  align-items: center;
  text-align: left;
  vertical-align: middle;
} */

.content-item {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.content-item:focus {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.save {
  grid-column: 2/4;
}

.content-item .date {
  grid-column: 2/3;
}

.content-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.guest-container {
  grid-column: 2/4;
}

.guest-item {
  padding: 0.6rem;
  background-color: aliceblue;
  margin-right: 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.form-input {
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem;
}

.date-human-readable {
  font-size: 0.8rem;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  border-bottom: solid 1px lightgrey;
  padding: 0.5rem;
}

input:focus {
  border-bottom: solid 2px blue;
  outline: none;
  background-color: aliceblue;
}

.event-date-time > input {
  margin-right: 1rem;
}

textarea {
  padding: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  border-bottom: solid 1px gray;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(209 213 219) 0px 0px 0px 1px inset;
  border-radius: 1rem;
}

textarea:focus {
  border: solid 0.5px blue;
  outline: none;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
}
.success {
  background-color: green;
  color: white;
}

.secondary {
  background-color: cornflowerblue;
  color: white;
}

.close-icon:hover {
  color: red;
  background-color: #f0808042;
  cursor: pointer;
  border-radius: 50%;
}

.icon {
  padding: 0.5rem;
  color: gray;
}

.icon:hover {
  cursor: pointer;
}

.icon-primary-hover {
  padding: 0.5rem;
  border-radius: 50%;
}

.icon-primary-hover:hover {
  background-color: aliceblue;
  color: blue;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-5 13:24:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-center {
  animation: rotate-center 0.6s ease-in-out both;
}
