body {
  font-family: sans-serif;
}

.day {
  width: 100px;
  height: 60px;
  border-bottom: solid 0.5px gray;
  text-align: center;
}

/* .container {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
} */

.hour-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.hour {
  width: 100px;
  height: 60px;
  text-align: center;
  border-bottom: solid 0.5px gray;
  border-right: solid 0.5px gray;
  vertical-align: middle;
}

.hour span {
  text-align: center;
}

.jan-container {
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(31, 100px);
  justify-content: center;
  align-items: center;
}

.month-elements {
  border: solid 0.5px gray;
}

.week-strip-container {
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.week-strip-container span {
  border: solid 0.5px gray;
  font-weight: bolder;
}

.hour:first-child {
  border-top: solid 0.5px gray;
}
