body {
  font-family: sans-serif;
}
.container {
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-columns: 4rem repeat(7, 1fr);
  grid-template-rows: repeat(26, 60px);
}

/* .week-strip-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  border: solid 0.5px gray;
  grid-column: 2 / 9;
  text-align: center;
} */

.tool-bar {
  grid-column: 1/9;
  border: solid 0.5px gray;
}

.hour-strip-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(24, 60px); */
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 3/27;
  text-align: center;
}

.calendar-elements-container {
  grid-column: 2 / 9;
  grid-row: 2/27;
}

.week-heading {
  border-right: solid 0.5px gray;
}

.hour-heading {
  min-height: 60px;
  border-bottom: solid 0.5px gray;
  border-right: solid 0.5px gray;
  color: #0908097d;
}

.hour-strip-container > span:first-child {
  border-top: solid 0.5px gray;
}

.calendar-elements-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-heading {
  font-size: larger;
  height: 60px;
  text-align: center;
  font-weight: bolder;
  display: block;
  border-bottom: solid 0.5px gray;
  border-right: solid 0.5px gray;
  color: #0908097d;
}

.hour-item {
  min-height: 60px;
  border-bottom: solid 0.5px gray;
  border-right: solid 0.5px gray;
}

.previous-icon,
.next-icon,
.add-new-event {
  padding: 0.5rem;
  font-size: 32px;
}

.select-month {
  grid-column: 4/5;
}

.select-view {
  grid-column: 5/6;
  text-align: center;
}

.previous-icon {
  grid-column: 6/7;
  text-align: center;
  cursor: pointer;
}

.next-icon {
  grid-column: 7/8;
  text-align: center;
}
.add-new-event {
  grid-column: 8/9;
}

.previous-icon:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.next-icon:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.decrement-icon,
.increment-icon {
  cursor: pointer;
}

.decrement-icon:hover,
.increment-icon:hover {
  cursor: pointer;
  fill: blue;
}

.add-new-event:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.toolbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.tool-bar-container {
  grid-column: 1/9;
  width: 100%;
  border-bottom: solid 0.5px gray;
}

/* .events-container {
  display: block;
} */

.event {
  display: block;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 1px;
  text-align: center;
  background-color: #005ce6;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  border: none;
}

.event-modal {
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  max-height: 100%;
  width: 40%;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.event-modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.5px gainsboro;
  text-align: center;
  gap: 2rem;
}

.event-modal-header-heading {
}

.event-modal-header-close-icon {
  text-align: right;
  width: 24px;
  border-radius: 20px;
  padding: 1rem;
}
.event-modal-header-close-icon:hover {
  color: red;
  background-color: #f0808042;
  cursor: pointer;
}

.event-modal-content {
  display: grid;
  grid-template-columns: 28px 1fr;
  justify-content: flex-start;
  align-items: center;
}

.event-modal-description {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  height: 5rem;
}

.event-modal-confirmed {
  color: green;
  font-weight: bolder;
}

.event-modal-guests-invited {
  color: blue;
}

.event-modal-guests-invited:hover {
  cursor: pointer;
}

.month-super-script {
  font-size: 0.8rem;
}

.month-range {
  font-weight: bolder;
  font-size: 1.2rem;
  color: #0908097d;
}

.closed {
  display: none;
}

.opened {
  display: block;
}

.edit-event-modal {
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  max-height: 100%;
  width: 40%;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-event-modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
}

.edit-event-modal-content {
}
.edit-event-modal-footer {
}

.edit-event-modal-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.edit-event-modal-header-close-icon {
  padding: 1rem;
  width: 24px;
  height: 24px;
  grid-column: 4/5;
  border-radius: 50%;
}

.edit-event-modal-header-close-icon:hover {
  background-color: #ff000030;
  color: red;
  cursor: pointer;
}

.edit-event-modal-footer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.add-event-modal {
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  max-height: 100%;
  width: 40%;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-event-modal .add-event-modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  direction: rtl;
  justify-content: flex-end;
  align-items: center;
  border-bottom: solid 0.5px gainsboro;
  margin-bottom: 1rem;
}

.add-event-modal-content {
}

.content-item {
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.form-input {
  padding: 0.5rem;
  text-align: left;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.2rem;
}

input:focus {
  border-bottom: solid 2px blue;
  outline: none;
}

.event-date-time > input {
  margin-right: 1rem;
}

textarea {
  padding: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  border-bottom: solid 1px gray;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px,
    rgb(209 213 219) 0px 0px 0px 1px inset;
  border-radius: 1rem;
}

textarea:focus {
  border: solid 0.5px blue;
  outline: none;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
}
.success {
  background-color: green;
  color: white;
}

.secondary {
  background-color: cornflowerblue;
  color: white;
}

.close-icon:hover {
  color: red;
  background-color: #f0808042;
  cursor: pointer;
  border-radius: 50%;
}
