body {
  font-family: sans-serif;
}
.container {
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-columns: 4rem repeat(7, 1fr);
  grid-template-rows: repeat(26, 60px);
}

/* .week-strip-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  border: solid 0.5px gray;
  grid-column: 2 / 9;
  text-align: center;
} */

.tool-bar {
  grid-column: 1/9;
  border: solid 0.5px gray;
}

.hour-strip-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(24, 60px); */
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 3/27;
  text-align: center;
}

.calendar-elements-container {
  grid-column: 2 / 9;
  grid-row: 2/27;
}

.week-heading {
  border-right: solid 0.5px gray;
}

.hour-heading {
  min-height: 60px;
  border-bottom: solid 0.5px gray;
  border-right: solid 0.5px gray;
  color: #0908097d;
}

.hour-strip-container > span:first-child {
  border-top: solid 0.5px gray;
}

.calendar-elements-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-heading {
  font-size: larger;
  height: 60px;
  text-align: center;
  font-weight: bolder;
  display: block;
  border-bottom: solid 0.5px gray;
  border-right: solid 0.5px gray;
  color: #0908097d;
}

.hour-item {
  min-height: 60px;
  border-bottom: solid 0.5px gray;
  border-right: solid 0.5px gray;
}

.previous-icon,
.next-icon,
.add-new-event {
  padding: 0.5rem;
  font-size: 32px;
}

.select-month {
  grid-column: 4/5;
}

.select-view {
  grid-column: 5/6;
  text-align: center;
}

.previous-icon {
  grid-column: 6/7;
  text-align: center;
}

.next-icon {
  grid-column: 7/8;
  text-align: center;
}
.add-new-event {
  grid-column: 8/9;
}

.previous-icon:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.next-icon:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.add-new-event:hover {
  background-color: aliceblue;
  border-radius: 24px;
  cursor: pointer;
}

.toolbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.tool-bar-container {
  grid-column: 1/9;
  width: 100%;
  border-bottom: solid 0.5px gray;
}

/* .events-container {
  display: block;
} */

.event {
  display: block;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 1px;
  text-align: center;
  background-color: #005ce6;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  border: none;
}

.event-modal {
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 20%;
  height: 600px;
  max-height: 100%;
  width: 40%;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.event-modal-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.5px gainsboro;
  text-align: center;
  gap: 2rem;
}

.event-modal-header-heading {
  grid-column: 2/4;
}

.event-modal-header-close-icon {
  grid-column: 4/5;
  text-align: right;
}

.month-super-script {
  font-size: 0.8rem;
}

.month-range {
  font-weight: bolder;
}

.closed {
  display: none;
}

.opened {
  display: block;
}
